a{
    text-decoration: none !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.modal-content {
    background: white !important;
    padding: 2em;
    border-radius: 8px;
    text-align: center;
    max-width: 400px !important;
}
  
  .modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .modal-actions button:first-child{
    margin-right: 8px;
  }
  